<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	
    <!-- Define your beans here -->
    
     <!--define the dependency-->
    <bean id="myFortuneService"
    		class="com.spring.springdemo.HappyFortuneService">
    	</bean>
    
 	<bean id="myTrackCoach"
 		class="com.spring.springdemo.TrackCoach">
 	</bean>


    <bean id="myBaseballCoach"
        class="com.spring.springdemo.BaseballCoach">
        <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="myLoggerConfig" class="com.spring.springdemo.MyLoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE" />
        <property name="printedLoggerLevel" value="FINE"/>
    </bean>

    <bean id="myCricketCoach"
          class="com.spring.springdemo.CricketCoach">

        <!-- Setting up a setter injection -->
        <property name="fortuneService" ref="myFortuneService"/>
     </bean>


</beans>





